<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4" style="margin-left: 30%">
            <div class="account-wall">
              <img class="profile-img logo-mobiclix" src="http://www.mobiclix.io/static/media/logo_header.15a6305e.svg" alt="">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>
                <label class="checkbox pull-left">
                    <%= f.check_box :remember_me %> Remember Me
                </label>
              <% end %>
            </div>
        </div>
    </div>
</div>